<!DOCTYPE html>
<html>

<head>

    <title>Form</title>

</head>

<body>

    <h1>Student Form</h1>

    <form action="/submit" method="POST">

        <input type="text" name="name" placeholder="Enter Name">

        <br><br>

        <input type="number" name="age" placeholder="Enter Age">

        <br><br>

        <input type="text" name="city" placeholder="Enter City">

        <br><br>

        <button type="submit">

            Submit

        </button>

    </form>

    {% if error %}

        <h2>{{ error }}</h2>

    {% endif %}

</body>

</html>